{% extends 'base_layout.html' %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Project</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Total Time Duration</th>
        <th>Time Left</th>
    </tr>
    </thead>
    <tbody>

      {% if todotask %}
    <table class="table table-success">
      {% for a in todotask  %}

    <tr class="table table-warning">
        <td >{{ a.project }}</td>
        <td>{{ a.body }}</td>
        <td>{{ a.startt }}</td>
        <td>{{ a.endt }}</td>
        <td>{{ a.timercount }}</td>
        <td>{{ a.timer }}</td>
          </tr>

      {% endfor %}
    </table>
  {% endif %}
    </tbody>
</table>
<br>
<br>
<center><a href="/addlog" class="btn btn-primary button">Add New Log<i
  class="fa fa-paper-plane-o ml-1"></i></a></center>


{% endblock %}
