{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}




{% block content %}
<div class="container">
<h2 class="md-text">{{ title }}</h2><hr>
<form class="form-horizontal"  method="POST" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
    <p style="color: red;">{{error}}</p>
    <center>
        <button type="submit" class="btn btn-primary button" name="login">Submit <i
            class="fa fa-paper-plane-o ml-1"></i></button>
    </center>
</form>
    </div>
{% endblock content %}
