
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:black;;
}
.md-text {
    font-size:45px;
    font-weight: 1800;
    text-transform: none;
    color:black;;
}

.sm-text {
    font-size:30px;
    font-weight: 150;
    text-transform: none;
    color:black;;
}
.vsm-text {
    font-size:20px;
    font-weight: 150;
    text-transform: none;
    color:black;;
}
.image-aboutus-para {
    color:white;;
}

/*in white colour*/
.lg-textt {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:white;;
}

.md-textt {
    font-size:45px;
    font-weight: 1800;
    text-transform: none;
    color:white;;
}

.sm-text {
    font-size:30px;
    font-weight: 150;
    text-transform: none;
    color:white;;
}

.vsm-textt {
    font-size:20px;
    font-weight: 150;
    text-transform: none;
    color:black;;
}

body{ 
    min-height: 130vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}
  
header{ 
    min-height:50px;
    background:rgb(0, 0, 0); 
}
  
footer{ 
    min-height:50px; 
    background:#fff; 
    color:white;;
    margin: 0; 
    font-size: small;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer a{
    color:#fff;
}
footer a:hover{
    color:#fff;
}
  
.wrappercl{
    margin: 50px; 
}

nav{
    margin: 20px;
    position: relative;
    width: 100%;

}

nav a{
    color:#fff;
}
nav a:hover{
    color:#fff;
}
nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}


.button {
    width: 50%;
    border-radius: 29px !important;
    /* margin-left:  20% !important; */
    margin-top: 30px;
    /* margin-bottom: 25px !important; */
    border: 0px !important;
    padding: 14px 0 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(90deg, rgb(15, 71, 50) 0%, rgb(12, 56, 40) 100%) !important;
  }
/* nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
} */